@using eBordo.ViewModels.Trener
@model TrenerObrisiVM
@{
    string poruka = (string)TempData["porukaInfo"];
}

<link rel="stylesheet" href="~/css/UrediDodajObrisi.css">

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Arhiviranje trenera</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite arhivirati zapis?</p>
                    <p class="text-danger"><p3>Akcija može biti vraćena!</p3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span id="btnIkona"><i class="fa fa-remove"></i></span>Poništi akciju
                    </button>
                    <button type="submit" class="btn btn-danger" onclick="obrisiTrenera(@Model.trenerID)">
                        <span id="btnIkona"><i class="fa fa-check"></i>   Arhiviraj trenera</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function obrisiTrenera(trenerID) {
        $(document).ready(function () {
            window.location.href = "/Trener/ObrisiSnimi?trenerID=" + trenerID;
        });
    }
</script>