@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravljena lozinka?";
}

<link href="/css/login.css" rel="stylesheet">
<form method="post" style="margin-top:50px;">
    <div class="row" style="margin-bottom:50px;">
        <div class="col">
            <img id="grbSarajevo" src="https://i.postimg.cc/ZRD2x9M8/sarajevo.png" />
        </div>
    </div>
    <h4>E-mail adresa</h4>
    <input asp-for="Input.Email" type="email" placeholder="Email" />
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit">Submit</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
