@using eBordo.ViewModels.Izvještaj
@model IzvjestajObrisiVM


<link rel="stylesheet" href="~/css/UrediDodajObrisi.css">

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Brisanje izvještaja</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input hidden asp-for="@Model.utakmicaID"/>
                    <p>Da li ste sigurni da želite obrisati zapis?</p>
                    <p class="text-danger"><p3>Akcija ne može biti vraćena!</p3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span id="btnIkona"><i class="fa fa-remove"></i></span>Poništi akciju
                    </button>
                    <button type="submit" class="btn btn-danger" onclick="obrisiIzvjestaj(@Model.utakmicaID)">
                        <span id="btnIkona"><i class="fa fa-check"></i>   Obriši izvještaj</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function obrisiIzvjestaj(utakmicaID) {
        $(document).ready(function () {
            window.location.href = "/Izvještaj/snimiObrisi?utakmicaID=" + utakmicaID;
        });
    }
</script>